
.vs/Vidly/config/applicationhost.config
.vs/Vidly/v16/.suo
.vs/Vidly/v16/Server/sqlite3/db.lock
.vs/Vidly/v16/Server/sqlite3/storage.ide
.vs/Vidly/v16/Server/sqlite3/storage.ide-shm
.vs/Vidly/v16/Server/sqlite3/storage.ide-wal
